<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Contact us</legend>
    
                            <div class="form-group">
                                
                                <div class="col-md-8">
                                 <b>Vendor Name :</b> <input id="name" name="name" type="text" placeholder=" Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                               
                                <div class="col-md-8">
                                <b>Contact Number :</b>    <input id="phone" name="phone" type="text" placeholder="Mobile Number" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group">
                                
                                <div class="col-md-8">
                                    <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group">
                                
                                <div class="col-md-8">
                                    <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group">
                               
                                <div class="col-md-8">
                                    <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>