/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 5px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}